@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

html, body {
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6, button, input, label, table, thead, tbody, ol, li, textarea {
  overflow-wrap: break-word;
  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 1.2631578947vw;
  text-decoration: none;
}
.error-message {
  font-weight: 600;
  font-size: 0.9473684211vw;
  color: #FF0000;
  transition: color ease-in-out 250ms;
}
.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15.6315789474vw;
  width: 100%;
  height: 3.6842105263vw;
  background-color: #FFFFFF;
  box-shadow: 0 0.2105263158vw 4.2105263158vw 0 rgba(0, 0, 0, 0.0509803922);
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6315789474vw;
}
.header__links-link {
  font-weight: 600;
  font-size: 0.8421052632vw;
  text-decoration: none;
  transition: color ease-in-out 250ms;
}
.header__links-link:hover {
  color: #FF0000;
}
.header__enter {
  width: 5vw;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 2.2105263158vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #FF0000;
  border-radius: 0.5263157895vw;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.header__enter:hover {
  background-color: #D70000;
}
.header__links-link_active {
  color: #FF0000;
}
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5789473684vw;
}
.main__title {
  font-weight: 700;
  font-size: 6.3157894737vw;
}
.main__btn {
  width: 29.0526315789vw;
  height: 3.0526315789vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8421052632vw;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF0000;
  border-radius: 0.7894736842vw;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.main__btn:hover {
  background-color: #D70000;
}

.copyright {
  padding: 3.1578947368vw 18.9473684211vw;
  display: flex;
  flex-direction: column;
  gap: 1.5789473684vw;
}
.copyright__warning {
  font-size: 1.0526315789vw;
}
.copyright__text {
  font-weight: 600;
  font-size: 0.8421052632vw;
}

.usage {
  display: flex;
  gap: 3.1578947368vw;
  padding: 3.1578947368vw 18.9473684211vw;
}
.usage__btns {
  display: flex;
  flex-direction: column;
  gap: 1.5789473684vw;
  width: 10.4210526316vw;
}
.usage__btns-btn {
  width: 100%;
  height: 3.0526315789vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1052631579vw solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: 250ms, border ease-in-out 250ms;
  user-select: none;
}
.usage__btns-btn:hover {
  color: #000000;
  border: 0.1052631579vw solid #000000;
}

.usage__btns-btn_active {
  color: #000000;
  border: 0.1052631579vw solid #000000;
}
.usage__contents-content {
  grid-column: 2/3;
}
.usage__contents-content-title {
  font-size: 1.0526315789vw;
  margin-bottom: 1.5789473684vw;
}
.usage__contents-content-text {
  font-weight: 600;
  font-size: 0.8421052632vw;
  padding-bottom: 1.01vw;
}
.usage__contents-content_active {
  grid-row: span 10;
  display: block;
}
.usage input[type=radio]:checked + label {
  color: #000000;
  border: 0.1052631579vw solid #000000;
}


.search {
  display: flex;
  flex-direction: column;
  gap: 2.6315789474vw;
  padding: 3.1578947368vw 18.9473684211vw;
}
.search__header {
  display: flex;
  gap: 3.1578947368vw;
}
.search__header-regis {
  outline: none;
  border: none;
  background: none;
  color: #FF0000;
  text-decoration: underline;
  cursor: pointer;
  transition: color ease-in-out 250ms;
}
.search__header-regis:hover {
  color: #C80000;
}
.search__inputs {
  display: flex;
  gap: 2.1052631579vw;
  align-items: center;
  justify-content: center;
  height: 3.0526315789vw;
}
.search__inputs-input {
  width: 11.8947368421vw;
  height: 100%;
  font-weight: 600;
  font-size: 0.8421052632vw;
  outline: none;
  border: none;
  border-bottom: 0.1052631579vw solid rgba(0, 0, 0, 0.3137254902);
  padding: 0 1.5789473684vw;
}
.search__inputs-input::placeholder {
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.search__inputs-btn {
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  width: 7.1578947368vw;
  height: 100%;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background: #FF0000;
  cursor: pointer;
  transition: background ease-in-out 250ms;
}
.search__inputs-btn:hover {
  background: #C80000;
}
.search__table {
  display: flex;
  flex-direction: column;
}
.search__table-titles {
  display: grid;
  grid-template-columns: 12.6842105263vw 10.0526315789vw 12.6315789474vw 12.3157894737vw 1fr;
  border-width: 0.0526315789vw 0 0.0526315789vw 0;
  border-style: solid;
  border-color: rgba(208, 208, 208, 0.5019607843);
  padding: 1vw 5.2631578947vw;
}
.search__table-titles-title {
  font-weight: 600;
  font-size: 0.9473684211vw;
  color: rgba(0, 0, 0, 0.5019607843);
}
.search__table-item {
  display: grid;
  grid-template-columns: 12.6842105263vw 10.0526315789vw 13.9473684211vw 11.4210526316vw 3.0526315789vw 1.4736842105vw;
  align-items: center;
  border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  padding: 1vw 5.2631578947vw;
}
.search__table-item-content {
  font-weight: 600;
  font-size: 0.9473684211vw;
}
.search__table-item-edit {
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  cursor: pointer;
}
.search__table-item-btn {
  width: 1.4736842105vw;
  height: 1.4736842105vw;
  cursor: pointer;
}

.patient {
  display: flex;
  justify-content: space-between;
  padding: 3.1578947368vw 18.9473684211vw;
}
.patient__left {
  display: flex;
  flex-direction: column;
}
.patient__left-info {
  font-size: 1.2631578947vw;
}
.patient__left-name {
  display: flex;
  gap: 1.5789473684vw;
  align-items: center;
  margin-top: 1.5789473684vw;
}
.patient__left-name p {
  font-weight: 600;
  font-size: 1.2631578947vw;
}
.patient__left-name-img {
  cursor: pointer;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}
.patient__left-date {
  display: flex;
  gap: 1.5789473684vw;
  margin-top: 0.7894736842vw;
}
.patient__left-date p {
  font-weight: 600;
  font-size: 0.8421052632vw;
  white-space: nowrap;
}
.patient__left-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.7368421053vw;
  width: 35vw;
}
.patient__left-add-text {
  font-size: 1.2631578947vw;
}
.patient__left-add-btn {
  width: 12.1052631579vw;
  height: 3.0526315789vw;
  color: #FFFFFF;
  background: #FF0000;
  font-weight: 600;
  font-size: 0.8421052632vw;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  user-select: none;
  transition: background ease-in-out 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patient__left-add-btn:hover {
  background: #C80000;
}
.patient__left-table {
  display: flex;
  flex-direction: column;
  gap: 1.5789473684vw;
  margin-top: 2.3157894737vw;
}
.patient__left-table-item {
  display: flex;
  gap: 2.6315789474vw;
  align-items: center;
  justify-content: center;
  padding: 1vw 2.6315789474vw;
  border-width: 0.0526315789vw 0 0.0526315789vw 0;
  border-style: solid;
  border-color: rgba(208, 208, 208, 0.5019607843);
}
.patient__left-table-item-links {
  font-weight: 600;
  font-size: 0.9473684211vw;
  color: #FF0000;
  transition: color ease-in-out 250ms;
}
.patient__left-table-item-links:hover {
  color: #C80000;
}
.patient__left-table-item-date {
  font-weight: 600;
  font-size: 0.9473684211vw;
  white-space: nowrap;
}
.patient__right {
  min-width: 20.2105263158vw;
  width: 20.2105263158vw;
  display: flex;
  flex-direction: column;
}
.patient__right-header {
  margin-bottom: 1.5789473684vw;
}
.patient__right-text {
  font-weight: 600;
  font-size: 0.9473684211vw;
  margin-bottom: 2.6315789474vw;
}
.patient__right-btn {
  width: 100%;
  height: 3.0526315789vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 0.7894736842vw;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
  transition: background ease-in-out 250ms;
}
.patient__right-btn:hover {
  background: #1A0000;
}

.analysis {
  display: flex;
  flex-direction: column;
  padding: 3.1578947368vw 18.9473684211vw;
}
.analysis__header {
  display: flex;
  gap: 3.1578947368vw;
}
.analysis__name {
  font-weight: 600;
  margin: 1.5789473684vw 0 0.7894736842vw;
}
.analysis__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analysis__info-date {
  font-weight: 600;
  font-size: 0.9473684211vw;
}
.analysis__info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  color: #FFFFFF;
  background: #FF0000;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: background ease-in-out 250ms;
}
.analysis__info-btn:hover {
  background: #C80000;
}
.analysis__params {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.6315789474vw 0 1.5789473684vw;
}
.analysis__params-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  color: #FFFFFF;
  background: #000000;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: background ease-in-out 250ms;
}
.analysis__params-btn:hover {
  background: #1A0000;
}
.analysis__table {
  border-collapse: collapse;
  width: 100%;
}
.analysis__table thead tr {
  border-top: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  font-weight: 600;
  font-size: 0.9473684211vw;
  color: rgba(0, 0, 0, 0.5019607843);
  height: 3.1578947368vw;
}
.analysis__table thead tr th {
  text-align: center;
  user-select: none;
  padding: 0;
}
.analysis__table thead tr th:nth-child(1) {
  text-align: left;
  padding-left: 3.1578947368vw;
  width: 45%;
}
.analysis__table tbody tr {
  border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  padding: 1vw 0;
  font-weight: 600;
  font-size: 0.9473684211vw;
  height: 3.1578947368vw;
}
.analysis__table tbody tr td {
  text-align: center;
  padding: 0;
}
.analysis__table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 3.1578947368vw;
}
.analysis__table tbody tr td:nth-child(2) {
  font-weight: 700;
}

.add-analysis {
  display: flex;
  flex-direction: column;
  gap: 2.6315789474vw;
  padding: 3.1578947368vw 18.9473684211vw;
}
.add-analysis__header {
  display: flex;
  align-items: center;
}
.add-analysis__header-name {
  margin-right: 2.6315789474vw;
}
.add-analysis__header-text {
  font-weight: 600;
  font-size: 0.9473684211vw;
}
.add-analysis__header-input {
  font-weight: 600;
  font-size: 0.9473684211vw;
  padding: 0.1052631579vw 1.3684210526vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.4210526316vw;
  border: none;
  outline: none;
  border-bottom: 0.1052631579vw solid rgba(0, 0, 0, 0.5019607843);
  margin-left: 0.1052631579vw;
}
.add-analysis__header-input::placeholder {
  align-items: center;
  text-align: center;
}
.add-analysis__header-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  color: #FFFFFF;
  background: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: background ease-in-out 250ms;
}
.add-analysis__header-btn:hover {
  background: #1A0000;
}
.add-analysis__analyse {
  display: flex;
  flex-direction: column;
  gap: 1.5789473684vw;
  padding-top: 2.5vw;
}
.add-analysis__analyse-head {
  display: flex;
  justify-content: space-between;
}
.add-analysis__analyse-head-delete {
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FF0000;
  transition: color ease-in-out 250ms;
}
.add-analysis__analyse-head-delete:hover {
  color: #C80000;
}
.add-analysis__analyse-table {
  border-collapse: collapse;
  width: 100%;
}
.add-analysis__analyse-table thead tr {
  border-top: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  font-weight: 600;
  font-size: 0.9473684211vw;
  color: rgba(0, 0, 0, 0.5019607843);
  height: 3.1578947368vw;
}
.add-analysis__analyse-table thead tr th {
  text-align: center;
  user-select: none;
  padding: 0;
}
.add-analysis__analyse-table thead tr th:nth-child(1) {
  text-align: left;
  padding-left: 3.1578947368vw;
  width: 45%;
}
.add-analysis__analyse-table thead tr th:nth-child(2) {
  text-align: left;
}
.add-analysis__analyse-table tbody tr {
  border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
  padding: 1vw 0;
  font-weight: 600;
  font-size: 0.9473684211vw;
  height: 3.1578947368vw;
}
.add-analysis__analyse-table tbody tr td {
  text-align: center;
  padding: 0;
}
.add-analysis__analyse-table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 3.1578947368vw;
}
.add-analysis__analyse-table tbody tr td:nth-child(2) {
  font-weight: 700;
}
.add-analysis__analyse-table tbody tr td input {
  font-weight: 700;
  font-size: 0.9473684211vw;
  padding: 0.2105263158vw 1.3684210526vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.3157894737vw;
  border: none;
  outline: none;
  border-bottom: 0.1052631579vw solid rgba(0, 0, 0, 0.5019607843);
  margin-left: 0.1052631579vw;
}
.add-analysis__analyse-table tbody tr td input::placeholder {
  align-items: center;
  text-align: center;
}
.add-analysis__analyse_hide {
  display: none;
}
.add-analysis__show {
  align-self: flex-start;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FF0000;
  transition: color ease-in-out 250ms;
}
.add-analysis__show:hover {
  color: #C80000;
}
.add-analysis__show_hide {
  display: none;
}

.graphs {
  display: flex;
  flex-direction: column;
  padding: 3.1578947368vw 18.9473684211vw;
}
.graphs__text-print {
  position: absolute;
  top: 6.5vw;
  right: 18.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #000000;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
  transition: background-color ease-in-out 250ms;
}
.graphs__text-print:hover {
  background-color: #1A0000;
}
.graphs__name {
  font-weight: 600;
  margin: 1.5789473684vw 0;
}
.graphs__info {
  display: flex;
  align-items: center;
  gap: 3.1578947368vw;
}
.graphs__info-date {
  font-weight: 600;
  font-size: 0.9473684211vw;
}
.graphs__info-backbtn {
  position: absolute;
  right: 18.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #FF0000;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  border-radius: 0.7894736842vw;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.graphs__info-backbtn:hover {
  background-color: #C80000;
}
.graphs__title {
  display: flex;
  margin: 2.6315789474vw 0 1.5789473684vw;
  align-self: center;
  justify-content: center;
  height: 1.5vw;
}
.graphs__result {
  align-self: center;
  display: flex;
  gap: 2.6315789474vw;
}

.graphs__title {
  margin: 2.6315789474vw 0 1.5789473684vw;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1.0526315789vw;
}
.graphs__title-pic {
  width: 1.0526315789vw;
  height: 1.0526315789vw;
  cursor: pointer;
}
.graphs__title-pic svg {
  width: 100%;
  height: 100%;
}

.graphs__result-pic img {
  width: 100%;
  height: 100%;
}
.graphs__result-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5789473684vw;
}
.graphs__result-info-list {
  list-style-position: inside;
}
.graphs__result-info-list li {
  font-weight: 600;
  font-size: 1.0526315789vw;
}
.graphs__result-info-additional {
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: rgba(0, 0, 0, 0.5019607843);
}
.graphs__analysis {
  display: none;
}


@media print {
  .header {
    display: none;
  }
  .graphs__title-pic{
    display: none;
  }
  .graphs__text-print {
    display: none;
  }
  .graphs__info-backbtn {
    display: none;
  }
  .graphs__analysis {
    display: flex;
    flex-direction: column;
    gap: 1.5789473684vw;
    margin-top: 2.6315789474vw;
  }
  .graphs__analysis-table {
    border-collapse: collapse;
    width: 100%;
  }
  .graphs__analysis-table thead tr {
    border-top: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
    border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
    font-weight: 600;
    font-size: 0.9473684211vw;
    color: rgba(0, 0, 0, 0.5019607843);
    height: 3.1578947368vw;
  }
  .graphs__analysis-table thead tr th {
    text-align: center;
    user-select: none;
    padding: 0;
  }
  .graphs__analysis-table thead tr th:nth-child(1) {
    text-align: left;
    padding-left: 3.1578947368vw;
    width: 25%;
  }
  .graphs__analysis-table tbody tr {
    border-bottom: 0.0526315789vw solid rgba(208, 208, 208, 0.5019607843);
    padding: 1vw 0;
    font-weight: 600;
    font-size: 0.9473684211vw;
    height: 3.1578947368vw;
  }
  .graphs__analysis-table tbody tr td {
    text-align: center;
    padding: 0;
  }
  .graphs__analysis-table tbody tr td:nth-child(1) {
    text-align: left;
    padding-left: 3.1578947368vw;
  }
}








.modal__content::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 1.0526315789vw;
}

.login__message p{
  font-weight: 600;
  color: #FF0000;
  font-size: 0.8421052632vw;
  text-align: center;
}


.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5789473684vw;
}
.modal__content-close {
  align-self: end;
  width: 0.7894736842vw;
  height: 0.7894736842vw;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.modal__content-close img {
  width: 100%;
  height: 100%;
}
.modal__content-title {
  font-size: 2.1052631579vw;
  margin: 1.5789473684vw 0 1.0526315789vw;
}
.modal__content-input-box {
  position: relative;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  margin-top: 1.5789473684vw;
}
.modal__content-input-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1vw 1.5789473684vw;
  outline: none;
  border: 0.1052631579vw solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 0.7894736842vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  transition: border-color ease-in-out 250ms;
}
.modal__content-input-box input::placeholder {
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.modal__content-input-box input:focus {
  outline: none;
  border-color: black;
}
.modal__content-input-box:hover input {
  border-color: black;
}
.modal__content-input-box-show, .modal__content-input-box-hide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5789473684vw;
  width: 0.8947368421vw;
  opacity: 1;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}
.modal__content-input-box-show_active {
  opacity: 0;
}

.modal__content-input-box-hide_active {
  opacity: 1;
}
.modal__content-input-box-tick {
  position: absolute;
  right: -1.6842105263vw;
  top: 50%;
  translate: 0 -50%;
  width: 0.9473684211vw;
  height: 0.7368421053vw;
  transition: opacity 250ms ease-in-out;
}
.modal__content-input-box-tick_show {
  opacity: 1;
  position: absolute;
  right: -1.6842105263vw;
  top: 50%;
  translate: 0 -50%;
  width: 0.9473684211vw;
  height: 0.7368421053vw;
  transition: opacity 250ms ease-in-out;
  display: flex;
  align-items: center;
}
.modal__content-frgt-pass {
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: rgba(0, 0, 0, 0.5019607843);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1.0526315789vw;
  transition: color ease-in-out 250ms;
}
.modal__content-frgt-pass:hover {
  color: #000000;
}
.modal__content-submit {
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  margin-top: 2.6315789474vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #FF0000;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.modal__content-submit:hover {
  background-color: #C80000;
}
.modal__content-submit_disable {
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  margin-top: 2.6315789474vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #7c7c7c;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  transition: background-color ease-in-out 250ms;
}
.modal__content-text {
  font-weight: 600;
  font-size: 0.8421052632vw;
  margin-top: 1.0526315789vw;
  margin-bottom: auto;
}
.modal__content-text span {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FF0000;
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.modal__content-text span:hover {
  color: #C80000;
}
.modal_auth {
  width: 24.7368421053vw;
  height: 30.6842105263vw;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
}
.modal_regis {
  width: 43.1578947368vw;
  height: 33.1578947368vw;
  box-shadow: 0 0 4.2105263158vw 0 rgba(86, 86, 86, 0.0784313725);
}
.modal_regis__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5789473684vw;
}

.modal_patient-regis {
  width: 24.7368421053vw;
  height: 36.4736842105vw;
  border-radius: 1vw;
  box-shadow: 0 0 4.2105263158vw 0 rgba(0, 0, 0, 0.0784313725);
}

.modal_edit {
  width: 43.1578947368vw;
  box-shadow: 0 0 4.2105263158vw 0 rgba(86, 86, 86, 0.0784313725);
}
.modal_edit__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: 2.6315789474vw 1.5789473684vw;
  padding: 3.9473684211vw;
}
.modal_edit__content-close {
  position: absolute;
  top: 1.5789473684vw;
  right: 1.5789473684vw;
  width: 0.7894736842vw;
  height: 0.7894736842vw;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.modal_edit__content-close img {
  width: 100%;
  height: 100%;
}
.modal_edit__content-title {
  grid-column: 1/3;
  font-size: 2.1052631579vw;
}
.modal_edit__content-block {
  width: 100%;
  height: 12.5263157895vw;
  display: flex;
  flex-direction: column;
  gap: 1.0526315789vw;
}
.modal_edit__content-block-head {
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.modal_edit__content-block-text textarea{
  width: 16.8421052632vw;
  height: 100%;
  /* height: 20vw; */
  padding: 1vw 1.5789473684vw;
  outline: none;
  border-radius: 0.7894736842vw;
  border: 0.1052631579vw solid rgba(0, 0, 0, 0.5019607843);
  font-weight: 600;
  font-size: 0.8421052632vw;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.modal_edit__content-block-text-list textarea {
  list-style-position: inside;
  font-weight: 600;
  /* height: 20vw; */
  font-size: 0.8421052632vw;
}
.modal_edit__content-block-text-list textarea {
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.modal_edit__content-submit {
  grid-column: 1/3;
  width: 16.8421052632vw;
  height: 3.0526315789vw;
  font-weight: 600;
  font-size: 0.8421052632vw;
  color: #FFFFFF;
  background-color: #FF0000;
  outline: none;
  border: none;
  border-radius: 0.7894736842vw;
  cursor: pointer;
  transition: background-color ease-in-out 250ms;
}
.modal_edit__content-submit:hover {
  background-color: #C80000;
}
.MuiPaper-root{
  border-radius: 1vw !important;
}
.MuiBackdrop-root{
  background-color: rgba(0, 0, 0, 0) !important;
}
.MuiDialog-root{
 height: 100% !important;

 width: 100% !important;
}
.MuiDialog-paperWidthSm{
  top: 0 !important;
  max-width: 45vw !important;
}
.MuiDialog-container{
  top: 0 !important;
  /* height: 0 !important; */
}
.MuiDialog-scrollPaper{
  height: 50vw !important;
}

/*# sourceMappingURL=main.css.map */
